/* Site Redesign May 29th, 2017 */

* {
  box-sizing: border-box;
  margin-top: 0;
}

*:focus {
  outline: #336699 auto 2px;
}

body {
  color: #333;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

@media (min-width:600px){
  body {
    font-size: 20px;
  }
}

a { 
  color: #336699; 
}

a:hover { 
  color: #C67A2F; 
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
  font-style: oblique;
  color: #75603C;
}

.visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}



.header {
  background-color: #C67A2F;
  padding: 20px 0;
}

.header__container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .header__container {
    padding: 0 30px;
  }
}

@media (min-width: 900px) {
  .header__container {
    padding: 0 40px;
  }
}

.logo {
  background-color: #FCFAF3;
  display: inline-block;
  font-size: 0;
  margin: 0 10px 10px 0;
  padding: 5px;
  position: relative;
  vertical-align: bottom;
}

.logo a {
  display: block;
}

.logo img {
  height: auto;
  max-width: 100%;
}

.logo__subtext {
  color: #75603C;
  font-size: small;
  font-style: italic;
  font-weight: 400;
  position: absolute;
    top: 64%;
    left: 23%;}

.logo__subtext:hover {
  color: #75603C;
}

.logo2 {
  display: inline-block;
  margin: 0 10px 10px 0;
  max-height: 53px;
  vertical-align: bottom;
  width: auto;
}

.main {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
}

@media (min-width: 900px) {
  .main {
    display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
    padding: 0 40px;
  }
}

.main__nav {
  background-color: #C67A2F;
  padding: 0 20px 1em;
  position: relative;
}

@media (min-width: 600px) {
  .main__nav {
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media (min-width: 900px) {
  .main__nav {
    padding-left: 0;
    padding-right: 0;
    width: 250px;
  }

  .main__nav:before {
    background-color: #C67A2F;
    content: "";
    height: 100%;
    position: absolute;
      right: 100%;
    width: 50vw;
  }
}


.main__content {
  padding-bottom: 100px;
  width: 100%;
}

@media (min-width: 900px) {
  .main__content {
    width: calc(100% - 250px);
  }
}

.main__title {
  background-color: #EEEEEE;
  margin-bottom: 1em;
  position: relative;
}

.main__title h1 {
  color:#75603C;
  font-size: 1.3em;
  font-weight: normal;
  padding: 0.25em 20px;
}

@media (min-width: 600px) {
  .main__title h1 {
    padding: 0.25em 30px;
  }
}

@media (min-width: 900px) {
  .main__title {
    margin-left: 0;
    margin-right: -40px;
    width: calc(100% + 40px);
  }

  .main__title h1 {
    padding-left: 50px;
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .main__title {
    width: 870px;
  }

  .main__title:after {
    background-color: #EEEEEE;
    content: "";
    height: 100%;
    position: absolute;
      top: 0;
      left: 100%;
    width: calc(50vw - 560px);
  }
}

.main__text {
  padding: 0 20px;
}

@media (min-width: 600px) {
  .main__text {
    padding: 0 30px;
  }
}

@media (min-width: 900px) {
  .main__text {
    padding-left: 50px;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .main__text {
    width: 870px;
  }
}

.main__text {

}

/*** main navigation ***/
.open-menu__label {
  color: white;
  display: inline-block;
  height: 40px;
  position: relative;
}

.open-menu__label:hover {
  color: #FFFFCC;
}

.open-menu__label > span {
  display: inline-block;
  font-size: 1.3em;
  line-height: 1.5;
  vertical-align: middle;
}

.open-menu__controls:focus + .open-menu__label {
  outline: #336699 auto 2px;
}

.hamburger {
  display: inline-block;
  height: 24px;
  position: relative;
  vertical-align: middle;
  width: 40px;
}

.hamburger__inner, 
.hamburger__inner:after, 
.hamburger__inner:before {
  background-color: #fff;
  border-radius: 4px;
  height: 4px;
  position: absolute;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  width: 40px;
}

.hamburger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger__inner:after, 
.hamburger__inner:before {
  content: "";
  display: block;
}

.hamburger__inner:before {
  top: -10px;
  transition: top 75ms ease .12s, opacity 75ms ease;
}

.hamburger__inner:after {
  bottom: -10px;
  transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
}

.open-menu__controls:checked + .open-menu__label .hamburger__inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transform: rotate(45deg);
}

.open-menu__controls:checked + .open-menu__label .hamburger__inner:before {
  opacity: 0;
  top: 0;
  transition: top 75ms ease,opacity 75ms ease .12s;
}

.open-menu__controls:checked + .open-menu__label .hamburger__inner:after {
  bottom: 0;
  transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
  transform: rotate(-90deg);
}

@media (max-width: 899px) {
  .main-nav {
    display: none;
  }  

  .open-menu__controls:checked ~ .main-nav {
    display:block;
  }
}

@media (min-width: 900px) {
  .open-menu__controls,
  .open-menu__label {
    display: none;
  }
}


.main-nav {

}

@media (max-width: 899px) {
  .main-nav {
    margin-top: 16px;
  }
}

.main-nav__link {
  color: white;
  display: block;
  font-size: 18px;
  line-height: 1.2;
  padding: 10px 0;
}

@media (min-width: 900px) {
  .main-nav__link {
    padding: 5px 0;
  }
}

.main-nav__link:hover {
  color: #FFFFCC;
}

/*** Rich Text ***/
.rich-text {

}

.rich-text table {
  width: 100%;
}

.rich-text table td {
  padding: .5em;
}

/*** Locations ***/
.locations {
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  margin-left: -20px;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .locations {
    padding: 0 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 900px) {
  .locations {
    padding-left: 50px;
    padding-right: 0;
  }
}

.locations__address {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 250px;
  padding-left: 20px;
  margin-bottom: 30px;
  min-width: 225px;
}

/*** Google Map ***/
.google-map {
  height: 500px;
  width: 100%;
}

@media (min-width: 600px) {
  .google-map {
    height: 650px;
  }
}

@media (min-width: 900px) {
  .google-map {
    margin-left: 50px;
    width: calc(100% - 50px);
  }
}
